*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    /* Tener en cuenta que para el uso del gradiendte solo funciona en la propiedad background:  y background-image: */ 
    --color-fondo: linear-gradient(to top, #da57579f, #2571ff9b);
    --color-pantalon: #054fc0;
    --color-boton: #2572ff;
    --color-card: #f7f8fa;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}



/* custom properties o variables:  propiedades personalizadas se deben poner en el :root{} */
.img{
    width: 100%;
}


.card{
    border-radius: 30px;
    width: 300px;
    margin: 100px auto; /* centrar la tarjeta */
    background-color: var(--color-card);
    box-shadow: 0 0 16px -7px black ;
}

.card__figure{
    background: var(--color-fondo);
    border-radius: 20px;
    height: 280px;
    position: relative; /* con esto podemos hacer el fecto del mario saliendo de la tarjeta */
    

}


.card__character{
    position: absolute;/* con esto podemos hacer el fecto del mario saliendo de la tarjeta */
    bottom:  20px;/* con esto podemos hacer el fecto del mario saliendo de la tarjeta */
    width: 90%;
    /* outline: 1px solid black; */
    filter: drop-shadow(2px 2px 10px black); /* drop-shadow(offset-x offset-y blur color); */
   
    left: 0; /* para central el elemento se debe agregar esta propiedad */
    right: 0; /* para central el elemento se debe agregar esta propiedad */
    margin: 0 auto;
}

.card__texts{
    padding: 2rem;
    width: 90%;
    /* background-color: yellow; */
    margin: 0 auto;
}

.card__title{
    font-size: 1.7rem;
    margin-bottom: 18px;
}

.card__paragraph{
    color: #000000;
    line-height: 1.5;
    margin-bottom: 24px;
}

.cta{
    display: block;
    color: black;
    background-color: var(--color-boton);
    padding: 1rem;
    border-radius: 10px;
    margin: 0 auto;
    width: 100%;
    text-decoration: none;
    text-align: center;
    color: white;

}

.card__banner{
    display: flex;

}


